/* exfoliation: a nagios makeover                                          */
/* version: 0.7                                                            */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

/*   thanks to jacob.laack for nagiosneat           */
/*   thanks to nagios authors for a solid base      */

/* these are reference colors for the color scheme:

                color    dark    light   border
           OK:  green    88d066  cce8cc  777777
      WARNING:  yellow   ffff00  feffc1  777777
     CRITICAL:  red      f88888  ffdddd  777777
      PENDING:  grey     acacac  fefefe  777777
      UNKNOWN:  orange   ffbb55  ffddaa  777777
  UNREACHABLE:  orange   ffbb55  ffddaa  777777
INDETERMINATE:  purple           ddccff  777777
     PROBLEMS:  blue             aaccff  777777

          ACK:  aaaaaa
       CUSTOM:  778899

    important:  blue     99aacc          777777
not important:  blue             aaccff  777777

 table header:  d0d0d0
     odd rows:  e7e7e7
    even rows:  f4f2f2

   titles: 12pt
   body: 10pt
   table headings: 9pt
   controls: 9pt
   data in tables: 8pt or 9pt
*/

:root {

  color-scheme: dark;

  --color-cardboard-gray: rgba(240, 240, 240, 1);
  --color-abyss-blue: rgba(41, 128, 185, .5);
  --color-plasma-blue: rgba(61, 174, 233, .8);
  --color-sunset-yellow: #b2b600;

  --color-elevation-0: rgba(0,0,0,1);
  --color-elevation-1: rgba(50, 50, 50, 0.75);
  --color-elevation-2: rgba(50, 50, 50, 1);
  --color-data-odd:    var(--color-elevation-1);
  --color-data-even:   var(--color-elevation-2);
  --color-primary:     var(--color-plasma-blue);
  --color-secondary:   var(--color-sunset-yellow);
  --color-main-text:   var(--color-cardboard-gray);

  --color-problem:     rgba(100, 0, 0, 1);
  --color-danger:      var(--color-problem);
  --color-ok:          rgba(0, 80, 0, 1);
  --color-pending:     var(--color-plasma-blue);
  --color-unknown:     rgba(110, 110, 0, 1);
  --color-warning:     rgba(110, 110, 0, 1);
  --color-unimportant: var(--color-abyss-blue);

  --color-alternate-gray: rgba(100,100,100,1);
  --color-border: var(--color-alternate-gray);
  /*
  --color-charcoal-gray: rgba(49, 54, 59, 1);
  --color-paper-white: rgba(252, 252, 252, 1);
  --color-shade-black: rgba(35, 38, 41, 1);
  --color-border-grey: rgba(103, 107, 110, 1);
  --color-medium-grey: var(--color-c1);
  --color-dark-blue: rgba(19, 19, 70, .5);
  --color-coastal-fog: rgba(127, 140, 141, 1);
  --color-hover-blue: rgba(61, 174, 233, 1);
  --color-icon-red: rgba(218, 68, 83, 1);
  --color-danger-red: rgba(178, 34, 34, .5);
  --color-dark-red: rgba(139, 0, 0, 1);
  --color-beware-orange: #e77034;
  --color-icon-yellow: rgba(253, 188, 75, 1);
  --color-sunbeam-yellow: rgba(201, 206, 59, 1);
  --color-verdant-green: rgba(17, 209, 22, 1);
  --color-dark-green: rgba(46, 139, 87, .5);

  --color-main-background: var(--color-c1);
  --color-background-dark: var(--color-c2);
  --color-background-darker: var(--color-shade-black);
  --color-main-text: var(--color-cardboard-gray);
  --color-alt-text: var(--color-shade-black);
  --color-text-light: var(--color-main-text);
  --color-primary: var(--color-plasma-blue);
  --color-primary-light: var(--color-primary);
  --color-primary-text: var(--color-paper-white);

  --color-ok: var(--color-c1);
  --color-pending: var(--color-plasma-blue);
  --color-unknown: #e77034;
  --color-warning: #e77034;
  --color-unimportant: var(--color-abyss-blue);
  --color-custom: var(--color-abyss-blue);
  */
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-elevation-0);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

body {
  margin: 0em;
  margin: 0.8em 0.8em 2em 0.8em;
  color: var(--color-main-text);
  background-color: var(--color-elevation-0);
  font-family: arial, verdana, serif;
  font-weight: normal;
  font-size: 10pt;
}

/* Decrease brightness and contrast of images. */
body img {
  filter: brightness(.8) contrast(1.2);
}

table {
  border: none;
  margin: 0;
}

table.status {
  background-color: var(--color-elevation-1);
}

th, td {
  border: none;
  padding: 0 2px 0 2px;
}

form {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}
a {
  text-decoration: none;
  color: var(--color-main-text);
}
a:hover {
  text-decoration: underline;
}
a:active {
}
a:visited {
}

div.navbarlogo {
  margin: 0 0 10px 0;
}
div.navsection {
  margin: 5px 0 10px 0;
  background-color: var(--color-elevation-1);
}
div.navsectiontitle {
  font-size: 9pt;
  font-weight: bold;
  padding: 4px;
  background-color: var(--color-elevation-2);
}

div.navsectionlinks {
  margin: 3px 0 0 0;
}

ul.navsectionlinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.navsectionlinks li { }
ul.navsectionlinks li a {
  font-weight: bold;
  font-size: 9pt;
  text-decoration: none;
  padding: 0 0 0 15px;
 /* background: transparent url(../images/greendot.gif) no-repeat scroll 0 0; */

}
ul.navsectionlinks li ul {
  margin: 0px;
  padding: 0 0 0 30px;
  list-style: none;
}
ul.navsectionlinks li ul li { }
ul.navsectionlinks li a:hover {
/*  background: transparent url(../images/orangedot.gif) no-repeat scroll 0 0; */
color: #8391cd;
}
ul.navsectionlinks li ul li a {
  background: none;
  padding: 0;
  font-weight: normal;
}
ul.navsectionlinks li ul li a:hover {
  background: none;
}
ul.navsectionlinks li ul li ul {
  margin: 0px;
  padding: 0 0 0 15px;
  list-style: none;
}

div.navsectionheader {
  padding: 0;
  margin: 0;
}
div.navsectionheader ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.navsectionheader ul li {
  font-size: 9pt;
  font-weight: bold;
  padding: 0 0 0 15px;
}
div.navsectionheader ul li ul li {
  font-weight: normal;
}

.navbarsearch {
  margin: 5px 0 0 0;
}
.navbarsearch fieldset {
  border: none;
}

.navbarsearch fieldset legend {
  font-size: 8pt;
}
.navbarsearch input {
  font-size: 9pt;
}


#splashpage {
  text-align: center;
}
#mainbrandsplash {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 35px 0;
}
#maincopy {
  margin: 0 0 15px 0;
}
#currentversioninfo {
  font-size: 12pt;
}
#currentversioninfo .product {
  font-size: 14pt;
  font-weight: bold;
}
#currentversioninfo .version {
  font-size: 14pt;
  font-weight: bold;
}
#currentversioninfo .releasedate {
  font-size: 11pt;
  margin: 5px 0 0 0;
}
#currentversioninfo .checkforupdates {
  font-size: 11pt;
  font-weight: bold;
}
#currentversioninfo .whatsnew {
  font-size: 11pt;
  font-weight: bold;
  margin: 50px 0 0 0;
}
#updateversioninfo {
  margin: 15px auto 35px auto;
  width: 400px;
}
#updateversioninfo div.submessage {
  clear: left;
}
.updatechecksdisabled {
  background-color: #FF9F9F;
  border: 1px solid red;
  padding: 10px;
}
.updatechecksdisabled div.warningmessage {
  font-weight: bold;
}
.updateavailable {
  background-color: #9FD4FF;
  border: 1px solid blue;
  padding: 10px;
}
.updateavailable div.updatemessage {
  font-size: 12pt;
  font-weight: bold;
}

#splashpage #mainfooter {
  clear: both;
  font-size: 8pt;
  padding-top: 35px;
  margin: auto;
  width: 800px;
}
#splashpage #mainfooter .disclaimer {
  margin: auto;
}
#splashpage #mainfooter .logos {
  margin: 15px 0 0 0;
}

table.infoBox { width: 100%; }
td.infoBox { font-size: 8pt; padding: 0 0 1em 0; white-space: nowrap; }
div.infoBoxTitle { font-size: 10pt; font-weight: bold; }
div.infoBoxBadProcStatus { font-size: 8pt; font-weight: bold; color: var(--color-danger); }

.linkBox { font-size: 8pt; padding: 1px; }
table.linkBox td { white-space: nowrap; }

.filter      { font-size: 8pt; padding: 1px; }
.filterTitle { font-size: 9pt; font-weight: bold; }
.filterName  { font-size: 8pt; text-align: right; font-weight: bold; }
.filterValue { font-size: 8pt; }

.errorDescription { font-size: 10pt; text-align: center; font-weight: bold; }
.errorMessage     { font-size: 10pt; text-align: center; font-weight: bold; color: var(--color-danger); }
.warningMessage   { font-size: 10pt; text-align: center; font-weight: bold; color: var(--color-danger); }

.statusSort  { font-size: 8pt; }
/*
.headertable > tbody > tr > td {
  background-color: var(--color-elevation-1);
}
*/
/* Workaround for unused last cell. */
/*
.headertable > tbody > tr > td:last-child {
  background-color: var(--color-elevation-0);
}
*/
.pagetitle {
  font-weight: bold;
  white-space: nowrap;
  font-size: 14pt;
}
.statustitle {
  font-weight: bold;
  white-space: nowrap;
  font-size: 14pt;
}
.dataTitle {
  font-weight: bold;
  white-space: nowrap;
  font-size: 14pt;
}
.navBoxTitle {
  font-weight: bold;
  white-space: nowrap;
  font-size: 12pt;
}
/*.statusTitle { text-align: center; font-weight: bold; font-size: 12pt; white-space: nowrap; } */

table.data    { padding: 0; }
th.data       { font-size: 9pt; text-align: left; padding: 0 3px 0 3px; border-bottom: 1px solid var(--color-border);  }
.dataOdd      { font-size: 8pt; background-color: var(--color-data-odd); padding: 0px 4px 0px 4px; }
.dataEven     { font-size: 8pt; background-color: var(--color-data-even); padding: 0px 4px 0px 4px; }
.dataSubTitle { font-size: 10pt; text-align: center; font-weight: bold; }

.optBox             { font-size:  9pt; white-space: nowrap; padding: 2px 0px 0px 0px; }
.optBoxTitle        { font-size: 10pt; font-weight: bold; text-align: center; }
.optBoxRequiredItem { font-size:  9pt; text-align: right; padding: 0px 5px 0px 5px; color: var(--color-primary); }
.optBoxItem         { font-size:  9pt; text-align: right; padding: 0px 5px 0px 5px; }
.optBoxValue        { font-size:  9pt; }

.optionBoxTitle { font-size: 10pt; text-align: center; font-weight: bold; }
.optionBox      { font-size: 10pt; padding: 2px; }

.navBoxItem  { font-size: 8pt; }
.navBoxDate  { font-size: 8pt; white-space: nowrap; }
.navBoxFile  { font-size: 8pt; text-align: center; }

.helpfulHint { font-size: 8pt; font-style: italic; text-align: center; }

.logEntries { font-size: 8pt; white-space: nowrap; }

.dateTimeBreak { font-size: 9pt; font-weight: bold; }

.reportRange    { font-size: 10pt; white-space: nowrap; }
.reportDuration { font-size:  8pt; white-space: nowrap; }
.reportTime     { font-size:  8pt; white-space: nowrap; text-align: right; font-style: italic; }

.reportSelectTitle    { font-size: 12pt; text-align: center; font-weight: bold; }
.reportSelectSubTitle { font-size:  9pt; text-align: right; }
.reportSelectItem     { font-size:  9pt; }
.reportSelectTip      { font-size:  8pt; font-style: italic; }

.dateSelectTitle    { font-size: 12pt; text-align: center; font-weight: bold; }
.dateSelectSubTitle { font-size:  9pt; text-align: right; }
.dateSelectItem     { font-size:  9pt; }

.popupText { font-size: 8pt; background-color: #eeeeaa; padding: 10px 10px 10px 10px; border: 1px solid var(--color-border);}

.hostImportantProblem      { font-size: 9pt; background-color: var(--color-problem); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}
.hostUnimportantProblem    { font-size: 9pt; background-color: var(--color-unimportant); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}

.serviceImportantProblem   { font-size: 9pt; background-color: var(--color-problem); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}
.serviceUnimportantProblem { font-size: 9pt; color: var(--color-elevation-1); background-color: var(--color-unimportant); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}

.outageImportantProblem    { font-size: 9pt; background-color: var(--color-problem); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}
.outageUnimportantProblem  { font-size: 9pt; background-color: var(--color-unimportant); padding: 0px 5px 0px 5px; border: 1px solid var(--color-border);}


/* Some nagios configurations have side.html rather than side.php and define */
/* a slightly different set of nav elements. */
.NavBarTitle {
  font-size: 9pt;
  font-weight: bold;
  margin: 5px 0 10px 0;
  padding: 2px;
  background-color: #efefef;
  border: 1px solid #dddddd;
}

.NavBarItem {
  font-size: 9pt;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0 0;
}

.NavBarSearchItem {
  font-size: 9pt;
}



#splashboxes {
  margin: auto;
  width: 794px;
}

.splashbox {
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--color-border);
  background-color: var(--color-elevation-1);
  float: left;
  text-align: left;
  height: 140px;
}
.splashbox h2 {
  margin: 0;
  font-size: 12pt;
}
.splashbox ul {
  margin: 0;
  padding: 5px 5px 5px 15px;
}
.splashbox ul li {
  clear: both;
}

.splashbox-media {
  margin: 5px;
}
.splashbox3-empty {
  margin: 5px;
  border: 1px solid var(--color-border);
  width: 238px;
  height: 150px;
}
.splashbox3-full {
  margin: 5px;
  width: 240px;
  height: 152px;
}
.splashbox-clear {
  clear: both;
}

#splashbox1, #splashbox2, #splashbox4 {
  width: 250px;
}
#splashbox3 {
  float: left;
}
#splashbox5 {
  width: 500px;
}
