/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.status { }

TABLE.status { font-size: 9pt; padding: 2; }
TH.status    { font-size: 9pt; text-align: left; padding: 0 3px 0 3px; border-bottom: 1px solid var(--color-border); color: #333333; }
DIV.status   { font-size: 10pt; text-align: center; }
.statusOdd   { font-size: 9pt; }
.statusEven  { font-size: 9pt; }

.statusPENDING  { font-size: 9pt; background-color: var(--color-pending); }
.statusOK       { font-size: 9pt; background-color: var(--color-ok); }
.statusRECOVERY { font-size: 9pt; background-color: var(--color-ok); }
.statusUNKNOWN  { font-size: 9pt; background-color: var(--color-unknown); }
.statusWARNING  { font-size: 9pt; background-color: var(--color-warning); }
.statusCRITICAL { font-size: 9pt; background-color: var(--color-problem); }

.statusHOSTPENDING     { font-size: 9pt; background-color: var(--color-pending); }
.statusHOSTUP          { font-size: 9pt; background-color: var(--color-ok); }
.statusHOSTDOWN        { font-size: 9pt; background-color: var(--color-problem); }
.statusHOSTUNREACHABLE { font-size: 9pt; background-color: var(--color-unknown); }

.statusBGUNKNOWN       { font-size: 9pt; background-color: var(--color-unknown); }
.statusBGWARNING       { font-size: 9pt; background-color: var(--color-warning); }
.statusBGCRITICAL      { font-size: 9pt; background-color: var(--color-problem); }
.statusBGDOWN          { font-size: 9pt; background-color: var(--color-problem); }
.statusBGUNREACHABLE   { font-size: 9pt; background-color: var(--color-unknown); }

DIV.serviceTotals      { font-size: 10pt; text-align: center; font-weight: bold; }
TABLE.serviceTotals    { font-size: 10pt; font-weight: bold; }
TH.serviceTotals,A.serviceTotals { font-size: 9pt; }
TD.serviceTotals       { font-size: 9pt; text-align: center; background-color: #e0e0e0; border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsOK       { font-size: 9pt; text-align: center; background-color: var(--color-ok); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsWARNING  { font-size: 9pt; text-align: center; background-color: var(--color-warning); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsUNKNOWN  { font-size: 9pt; text-align: center; background-color: var(--color-unknown); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsCRITICAL { font-size: 9pt; text-align: center; background-color: var(--color-problem); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsPENDING  { font-size: 9pt; text-align: center; background-color: var(--color-pending); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsPROBLEMS { font-size: 9pt; text-align: center; background-color: var(--color-unimportant); border: 1px solid var(--color-border); padding: 2 4 2 4; }


DIV.hostTotals         { font-size: 10pt; text-align: center; font-weight: bold; }
TABLE.hostTotals       { font-size: 10pt; font-weight: bold; }
TH.hostTotals,A.hostTotals { font-size: 9pt; }
TD.hostTotals          { font-size: 9pt; text-align: center; background-color: #e4e4e4; }
.hostTotalsUP          { font-size: 9pt; text-align: center; background-color: var(--color-ok); }
.hostTotalsDOWN        { font-size: 9pt; text-align: center; background-color: var(--color-problem); }
.hostTotalsUNREACHABLE { font-size: 9pt; text-align: center; background-color: var(--color-unknown); }
.hostTotalsPENDING     { font-size: 9pt; text-align: center; background-color: var(--color-pending); }
.hostTotalsPROBLEMS    { font-size: 9pt; text-align: center; background-color: var(--color-unimportant); }

.miniStatusPENDING  { font-size: 9pt; background-color: var(--color-pending); text-align: center; }
.miniStatusOK       { font-size: 9pt; background-color: var(--color-ok); text-align: center; }
.miniStatusUNKNOWN  { font-size: 9pt; background-color: var(--color-unknown); text-align: center; }
.miniStatusWARNING  { font-size: 9pt; background-color: var(--color-warning); text-align: center; }
.miniStatusCRITICAL { font-size: 9pt; background-color: var(--color-problem); text-align: center; }

.miniStatusUP          { font-size: 9pt; background-color: var(--color-ok); text-align: center; }
.miniStatusDOWN        { font-size: 9pt; background-color: var(--color-problem); text-align: center; }
.miniStatusUNREACHABLE { font-size: 9pt; background-color: var(--color-unknown); text-align: center; }
