/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.notifications { }

table.notifications { padding: 0; margin: 0; background-color: var(--color-elevation-1);}
th.notifications    { font-size: 9pt; text-align: left; padding: 0 3px 0 3px; border-bottom: 1px solid var(--color-border); }
.notificationsOdd   { font-size: 8pt; padding: 0 4 0 4; background-color: var(--color-data-odd);  }
.notificationsEven  { font-size: 8pt; padding: 0 4 0 4; background-color: var(--color-data-even); }

/* these are dark colors */
.notificationsOK              { background-color: var(--color-ok); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsUNKNOWN         { background-color: var(--color-unknown); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsWARNING         { background-color: var(--color-warning); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsCRITICAL        { background-color: var(--color-problem); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsACKNOWLEDGEMENT { background-color: var(--color-alternate-gray); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsCUSTOM          { background-color: var(--color-custom); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsDOWNTIME        { background-color: var(--color-unimportant); border: 1px solid var(--color-border); padding: 0 4 0 4; }

/* these are dark colors */
.notificationsHOSTUP              { background-color: var(--color-ok); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsHOSTDOWN            { background-color: var(--color-problem); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsHOSTUNREACHABLE     { background-color: var(--color-unknown); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsHOSTACKNOWLEDGEMENT { background-color: var(--color-alternate-gray); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsHOSTCUSTOM          { background-color: var(--color-custom); border: 1px solid var(--color-border); padding: 0 4 0 4; }
.notificationsHOSTDOWNTIME        { background-color: var(--color-unimportant); border: 1px solid var(--color-border); padding: 0 4 0 4; }
