div.serviceTotals      { font-size: 10pt; text-align: center; font-weight: bold; }
table.servicetotals    { font-size: 10pt; font-weight: bold; }
th.servicetotals,a.servicetotals { font-size: 9pt; }
.serviceTotalsWARNING  { font-size: 9pt; text-align: center; background-color: var(--color-warning); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsCRITICAL { font-size: 9pt; text-align: center; background-color: var(--color-problem); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsPROBLEMS { font-size: 9pt; text-align: center; background-color: var(--color-unimportant); border: 1px solid var(--color-border); padding: 2 4 2 4; }
td.serviceTotals       { font-size: 9pt; text-align: center; background-color: var(--color-primary); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsOK       { font-size: 9pt; text-align: center; background-color: var(--color-ok); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsUNKNOWN  { font-size: 9pt; text-align: center; background-color: var(--color-unknown); border: 1px solid var(--color-border); padding: 2 4 2 4; }
.serviceTotalsPENDING  { font-size: 9pt; text-align: center; background-color: var(--color-pending); border: 1px solid var(--color-border); padding: 2 4 2 4; }
